/* Tailwind CSS base styles */
@tailwind base;

/* Tailwind CSS component styles */
@tailwind components;

/* Tailwind CSS utility styles */
@tailwind utilities;

/* Style for the selected text */
::selection {
  background-color: #A47F4B;
  color: #d8e0e8;
}

/* SVG animations */
/* The animations target specific elements with IDs like "path1", "path2", etc. */
/* Each animation uses the "sign" keyframes animation and sets the stroke-dashoffset to 0 at the end of the animation */
/* The animations have different durations and are applied to various paths in the SVG */

/* Uncomment the following block if you want to apply specific background colors using custom classes */
/*
.primary-1 { background-color: #76899D }
.primary-2 { background-color: #4F6781 }
.primary-0 { background-color: #354F6B }
.primary-3 { background-color: #213C58 }
.primary-4 { background-color: #0F2740 }

.complement-1 { background-color: #F1D6B0 }
.complement-2 { background-color: #C6A573 }
.complement-0 { background-color: #A4804B }
.complement-3 { background-color: #87632D }
.complement-4 { background-color: #624111 }
*/


#path1{
  /* stroke-dasharray:50 ; */
  stroke-dashoffset:21554 ;
  animation: sign 6s ease;
  animation-fill-mode: forwards;
}
#path2{
  stroke-dasharray: 18843;
  stroke-dashoffset:18843 ;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}
#path3{
  stroke-dasharray:2248 ;
  stroke-dashoffset: 2248;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}
#path4{
  stroke-dasharray: 1535;
  stroke-dashoffset:1535 ;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}
#path5{
  stroke-dasharray: 1528;
  stroke-dashoffset: 1528;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}
#path6{
  stroke-dasharray:3247;
  stroke-dashoffset:3247 ;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}
#path7{
  stroke-dasharray:3237 ;
  stroke-dashoffset: 3237;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}
#path8{
  stroke-dasharray: 3790;
  stroke-dashoffset:3790 ;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}
#path9{
  stroke-dasharray:3329 ;
  stroke-dashoffset:3329 ;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}
#path10{
  stroke-dasharray:2680 ;
  stroke-dashoffset: 2680;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}
#path11{
  stroke-dasharray:756 ;
  stroke-dashoffset: 756;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}
#path12{
  stroke-dasharray: 21554;
  stroke-dashoffset:21554 ;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}

@keyframes sign {
  to{
    stroke-dashoffset: 0;
  }
}

html,body{
  max-width: 100%;
  overflow-x: hidden;
}